
body {
    background-color: #434343;
    font-family: 'Open Sans', sans-serif;
    color: #e8e8e8;
    line-height: 1.6;
}

header,
section,
footer {
    max-width: 100%;
    margin: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: #FFD700;
    border-bottom: 2px solid #e8e8e8;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    color: #FFD700;
}

p,
li {
    font-size: 1em;
    color: #e8e8e8;
}

ul {
    padding-left: 20px;
}


img {
    max-width: 100%;
    height: auto;
    border: 2px solid #FFD700;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
}


footer {
    text-align: center;
    font-size: 0.9em;
    border-top: 2px solid #e8e8e8;
    
}

@media (min-width: 768px) {
    
    header,
    section,
    footer {
        max-width: 900px;
        margin: 0 auto 20px auto;
    }

    .wireframes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

}


