@media only screen and (min-width: 64rem) {

    
    /* Tarjetas en dos columnas */
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 20px;
    }

    .card figure {
        overflow: hidden;
    }

    .card img {
        height: 100%;
        object-fit: cover;
        
    }

    
}