@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: auto;
    }

    header {
        grid-template-columns: 24px auto;
        border-bottom: solid 1px #ddd;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }


    .card {
        display: grid;
        grid-template-areas:
            "image title"
            "image address"
            "image description"
            "image button";
        grid-template-columns: 1fr 1.4fr;
        /* ancho imagen / texto */
        text-align: left;
        column-gap: 1.5rem;
        /* espacio horizontal constante */

    }

    .card button {
        align-self: start;
        justify-self: start;
    }

    .visit-box {
        margin: 0 auto;
    }

    .card figure {
        grid-area: image;
        margin: 0;
    }


}