* {
    box-sizing: border-box;

}

body {
    background-color: #F5F5F5;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 0px 10px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: #00695C;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
    font-family: "Playfair Display", serif;
}

.hamburger {
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/***NAVIGATION***/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00695C;
    text-align: center;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #ccc
}

.navigation li.current {
    background-color: rgb(101, 101, 101);
}

.navigation a:hover {
    background-color: #333333;
}

.title-area {
    margin: 0px 15px;
}

/*MAIN*/

.visit-box {
    background-color: #f0f8ff;
    border: 2px solid #00695C;
    border-radius: 8px;
    padding: 1rem;
    margin: 0px 10px;
    max-width: 600px;
    
    min-height: 70px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #202020;
}


.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 20px 20px;
}


.card {
    grid-template-areas:
        "title"
        "image"
        "address"
        "description"
        "button";
    
    /*padding: 0.7rem;*/
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;

}


/* --- Assing the areas --- */
.card figure {
    grid-area: image;
}

.card h2 {
    grid-area: title;
}

.card address {
    grid-area: address;
}

.card p {
    grid-area: description;
}

.card button {
    grid-area: button;
    
}


.card h2 {
    color: #00695C;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}


.card img {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    display:block
}

.card address {
    font-family: 'Lora', serif;
    font-weight: bold;
}

.card p {
    
    font-family: 'Lora', serif;
    padding: 5px 0px 10px 0px
}

.card button {
    background-color: #e0b000;
    color: #202020;
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
    justify-self: center;
}

.card button:hover {
    background-color: #ccc;
}



/*FOOTER*/

footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: #eee;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social a:hover {
    background-color: #ddd;
}

#lastModified {
    color: #00695C;
    font-size: 15px;
    min-height: 20px;
}