@media only screen and (min-width: 64rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: auto;
    }

    header {
        grid-template-columns: 24px auto;
        border-bottom: solid 1px #ddd;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }


    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

         .card {
             display: grid;
             grid-template-areas:
                 "image title"
                 "image address"
                 "image description"
                 "image button";
             grid-template-columns: 1fr 1.2fr;
             /* ancho imagen / texto */
             text-align: left
         }
    
         .card button {
             width: auto;
             align-self: start;
             justify-self: start;
         }
    
         .visit-box {
             margin: 0 auto;
         }
    
         .card figure {
             grid-area: image;
             margin: 0;
             /* para que no empuje el contenido */
         }

}