* {
    box-sizing: border-box;

}

body {
    background-color: #F5F5F5;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px 0px 10px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: #00695C;
}

header img {
    display: block;
    width: 30px;
    height: 30px;
}

header span {
    font-size: 1.4rem;
    font-weight: bold;
    color: #eee;
    font-family: "Playfair Display", serif;
    margin-left: 12px;
}

.hamburger {
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/***NAVIGATION***/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00695C;
    text-align: center;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #eee;
    text-decoration: none;
    border-bottom: 1px solid #ccc
}

.navigation li.current {
    background-color: rgb(101, 101, 101);
}

.navigation a:hover {
    background-color: #333333;
}

.title-area {
    margin-left: 10px;
    font-size: 15px;
}

.title-area h1 {
    color: #333;

}

/*home cards */

/* Contenedor general */
.info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/* Tarjetas individuales */
.event-card,
.weather-card,
.forecast-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    font-family: 'Lora', serif;
}

/* Títulos con fondo verde elegante */
.event-card h3,
.weather-card h3,
.forecast-card h3 {
    background-color: #00695C;
    color: #eee;
    text-align: center;
    border-radius: 8px;
    font-family: 'Lora', serif;
    margin-bottom: 0.5rem;
    padding: 0.7rem;
}

/* Subtítulo del evento */
.event-card h4 {
    color: #00695C;
    font-size: 1.1rem;
   
}

/* Texto dentro de las tarjetas */
.event-card p,
.weather-card p,
.forecast-card p {
    padding: 0.5rem;
    margin: 0.3rem 0;
    color: #333;
    font-size: 0.95rem;
}

/* Ícono del clima */
#weather-icon {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0.5rem auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #555;
    font-size: 0.9rem;
}



/*SPOTLIGHT*/
#spotlight-container.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Lora', serif;
    justify-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.card h3 {
    color: #00695C;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.card p {
    margin: 0.2rem 0;
    color: #333;
}

.card a {
    display: block;
    margin-top: 0.5rem;
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

/*footer*/
footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: #eee;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social a:hover {
    background-color: #ddd;
}

#lastModified {
    color: #00695C;
    font-size: 15px;
    min-height: 20px;
}