@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: auto;
    }

    header {
        grid-template-columns: 24px auto;
        border-bottom: solid 1px #ddd;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    /* RESPONSIVE - Laptop y pantallas grandes */

       .content-area {
        display: grid;
        grid-template-columns: 1.7fr 1fr;
        gap: 3rem;

       }
}