@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: auto;
    }

    header {
        grid-template-columns: 24px auto;
        border-bottom: solid 1px #ddd;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .spotlight .grid {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }


    .spotlight-card img {
        transition: opacity 0.3s ease;
        
    }

    .spotlight-card img:hover {
        opacity: 0.7;
        
    }

}