* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    background-color: #eee;
    color: #333
}


header {
    display: grid;
    grid-template-columns: 30px auto 44px;
    padding: 10px 0px 10px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: #1d0b5d;
}

header img {
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
    font-family: "Playfair Display", serif;
}

.hamburger {
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    font-size: 2rem;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/***NAVIGATION***/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1d0b5d;
    text-align: center;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #eee;
    text-decoration: none;
    border-top: solid 1px #eee
}

.navigation li.current {
    background-color: rgb(101, 101, 101);
}

.navigation a:hover {
    background-color: #333;
}

/***MAIN CONTENT***/

.hero {
    display: block;
    justify-items: center;
    position: relative;
    width: 100%;
    height: auto;
}


.hero h2 {
    font-family: 'Lora', serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.hero p {
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    color: #333;
    font-style: italic;
    text-align: center;
    margin: 10px 5px;

}

.hero img {
    width: 100%;
    height: auto;
    aspect-ratio: 7/3;
}

/* Botón CTA responsive para móviles */
.cta-button {
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translateX(50%);
    background-color: #e0b000;
    color: #333;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;

}

.cta-button:hover {
    background-color: #ccc;
}

.title-area h1 {
    color: #333;
    text-align: center;
    margin: auto;
    padding: 0.7rem;

}

/*SPOTLIGHT*/


.spotlight .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: stretch;
    width: 100%;
    padding: 1rem;
}

.spotlight-card {

    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #a6a6a6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Lora', serif;
    width: 100%;
    /* llena la celda del Grid */
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

/* Hover animation */
.spotlight-card:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.02);
}

/* Title */
.spotlight-card h3 {

    font-weight: bold;
    padding: 0.8rem 1rem 0 1rem;
    color: #1d0b5d;
    text-align: center;
}

/* Info section */
.hover-info {
    padding: 1rem;
    color: #333;

    flex: 1;     /*new*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Map link */
.hover-info a {
    color: #1d0b5d;
    text-decoration: none;
    font-weight: bold;
}

.hover-info a:hover {
    text-decoration: underline;
}

/* Image */
.spotlight-card img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5rem;
    aspect-ratio: 4/3;

}

.hover-info p {
    margin-bottom: 0.6rem;
    line-height: 1.4;
}





/*footer*/
footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: #ddd;


}


.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc dashed 1px;
    border-radius: 22px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social a:hover {
    background-color: #eee;
}

#lastModified {
    color: #1d0b5d;
    font-size: 15px;
    min-height: 20px;
}

.visually-hidden {
    display: none;
}